* {
    box-sizing: border-box;
}


body {
    box-sizing: border-box;
    height: 300vh;
    border: 3px solid black;
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body > div {
    box-sizing: border-box;
    border: 3px solid black;
    height: 25%;
    font-family: "Roboto", sans-serif;
}

.first_quart{
    background-color: #1F2937;
    padding-right: 275px;
    padding-left: 275px;
    padding-bottom:175px;
    padding-top: 25px;
}

.q1_main_container {
    
    border: 3px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    align-items: center;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 25px;
}

.logo {
    color: #F9FAF8;
    font-size: 30px;
    font-weight: bold;
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.q1_content{
    border: 3px solid yellow;
    margin-top: auto;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 55px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

p {
    color: #E5E7EB;
    font-size: 24px;
    margin: 0;
    padding: 0;
    white-space: nowrap; /* Prevents wrapping */
}

br {
    white-space: normal; /* Allows wrapping at the <br> tag */
}

.button1{
    
    color:white ;
    background-color: #3882F6;
    padding: 12px 50px 12px 50px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 12px;
    font-size: larger;
}

img {
    display: block;
    height: auto;
    width: 80%;
    margin-left: auto;
}

.second_quart > h1 {
    color: #1F2937;
    font-weight: 900;
    font-size: 56px;
    text-align: center;
    margin-top: 65px;
}

.cont_u_img > img{
    
    height: 230px;
    width: auto;
    border: 3px solid blue;
    border-radius: 30px;
}

.list_images_content {
    border: 3px solid black;
    margin: 75px 15% 0 15%;
    display: flex;
    height: 350px;
}

.list_images {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 60px;
}

.subtext {
    color: rgb(75, 72, 72);
    font-size: 21px;
    text-align: center;
    overflow-wrap: break-word;
    padding: 0 10px;
    white-space: normal; 

}

.cont_u_img {
    width: 235px;
    border: 3px solid yellow;
}
.third_quart {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
   
    color: #1F2937;
    font-style: italic;
    font-size: 60px;
    font-weight: 300;
    text-align: left;
    padding: 100px;
    margin-bottom: 0;
    padding-bottom:0 ;
    
}

.author_text {
    width: 65%;
    border: 3px solid black;
    display: flex;
    justify-content: end;
}

.author_text > p {
    
    color: black;
    font-weight: bold;
    font-size: 35px;
    
}
 
.cta_container {
    border: 3px solid yellow;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px;
}

.cta {
    border: 3px solid black;
    height: 200px;
    background-color: #3882F6;
    padding: 65px;
    display: flex;
    justify-content: space-between;
}

.cta_p1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.button2 {
    color:white ;
    background-color: #3882F6;
    padding: 12px 50px 12px 50px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 12px;
    font-size: larger;
    border: 3px solid white;
}